# EmailJS Configuration
# Get these values from your EmailJS account dashboard at https://dashboard.emailjs.com
#
# Steps to get your EmailJS credentials:
# 1. Sign up or log in at https://www.emailjs.com/
# 2. Go to Account > API Keys to get your Public Key
# 3. Go to Email Services to create a service and get your Service ID
# 4. Go to Email Templates to create a template and get your Template ID

VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key_here
VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id_here
